/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(208, 92%, 54%);
    --first-color-alt: hsl(208, 88%, 50%);
    --title-color: hsl(220, 68%, 4%);
    --white-color: hsl(0, 0%, 100%);
    --text-color: hsl(220, 15%, 66%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(220, 50%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", system-ui;
    --big-font-size: 3rem;
    --normal-font-size: 1.1rem;
    --small-font-size: .813rem;
    --tiny-font-size: .688rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --big-font-size: 3rem;
        --normal-font-size: 1.1rem;
        --small-font-size: .875rem;
        --tiny-font-size: .75rem;
    }
}


.login__button {
    width: 100%; /* Ou une largeur fixe comme 200px */
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: white;
    font-weight: var(--font-semi-bold);
    padding-block: 1.5rem;
    border-radius: 4rem;
    margin-block: 2rem;
    cursor: pointer;
    transition: background-color .4s, box-shadow .4s;
    font-size: 25px;
    padding-block:25px;
    padding:40px;
    border:none;
}

.login_box button:hover {
        background-color: var(--first-color-alt);
        box-shadow: 0 8px 24px hsla(208, 92%, 32%, .3);
      }

.login_box {
    display: flex; /* Utiliser flexbox pour l'alignement */
    flex-direction: column; /* Aligner les boutons en colonne */
    align-items: center; /* Centrer les boutons horizontalement */
    gap: 1rem; /* Espacement entre les boutons */
}
