.gestion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}
.modifier, .ajouter {
    margin: 20px;
    padding: 10px;
    border: 2px dotted black;
    width: 25%;
    border-radius: 12px;
}