/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(208, 92%, 54%);
  --first-color-alt: hsl(208, 88%, 50%);
  --title-color: hsl(220, 68%, 4%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(220, 15%, 66%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(220, 50%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", system-ui;
  --big-font-size: 3rem;
  --normal-font-size: 1.1rem;
  --small-font-size: .813rem;
  --tiny-font-size: .688rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3rem;
    --normal-font-size: 1.1rem;
    --small-font-size: .875rem;
    --tiny-font-size: .75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.main-section {
  height: 100vh;
  background-image: url("https://i.imgur.com/g6qt5aS.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.main-section .content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.main-section .content h2 {
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
}

.main-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}

.main-section .content button {
  width: 25%;
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding-block: 1.5rem;
  border-radius: 4rem;
  margin-block: 2rem;
  cursor: pointer;
  transition: background-color .4s, box-shadow .4s;
  border:none;
}

.main-section .content button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px hsla(208, 92%, 32%, .3);
}

a {
  text-decoration: none;
  color:white;
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .main-section .content {
    text-align: center;
  }

  .main-section .content :is(h2, p) {
    max-width: 25%;
  }

  .main-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }
  
}


/*=============== NAV ===============*/

nav {
  background-color: #19191B;
  padding: 30px;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: -20;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  position: relative;
  color: #EEEEF0;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s;
}
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #5f73e6;
  transition: width 0.3s ease-in-out;
}
nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #467ec9;
}

/*=============== FOOTER ===============*/

footer {
  background-color: #19191B;
  color: #EEEEF0;
  text-align: center;
  padding: 30px;
}