/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(208, 92%, 54%);
  --first-color-alt: hsl(208, 88%, 50%);
  --title-color: hsl(220, 68%, 4%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(220, 15%, 66%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(220, 50%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", system-ui;
  --big-font-size: 3rem;
  --normal-font-size: 1.1rem;
  --small-font-size: .813rem;
  --tiny-font-size: .688rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3rem;
    --normal-font-size: 1.1rem;
    --small-font-size: .875rem;
    --tiny-font-size: .75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*=============== CREATION DES OFFRES DE STAGES ===============*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {

    html {
        font-size: 15px
    }
}

@media screen and (max-width: 465px) {

    html {


        font-size: 14px
    }


}

.card {


    width: 25rem;


    height: auto;


    background: #fff;


    border-radius: 1.5rem;


    padding: 1.5rem;


    overflow: hidden;


    position: relative;


    display: flex;


    flex-direction: column;


}

.card-img-holder {


    width: 100%;


    height: auto;


    position: relative;


}

.card-img-holder img {


    width: 100%;


    height: auto;


    max-height: 15rem;


    object-fit: cover;


    border-radius: 1.5rem;


}

.blog-title {


    color: #22215B;


    padding: 1rem 0;


    font-size: 1.5rem;


}

.description {


    padding: 1rem 0;


    color: #22215B80;


    font-size: 1rem;


}

.blog-time {


    font-size: .8rem;


    color: #22215B;


}

.options {


    display: flex;


    align-items: center;


    justify-content: space-between;


    font-size: 1rem;


}

.options span {


    font-weight: 600;


    color: #22215B;


}

.btn {


    font-size: 1rem;


    padding: .5rem 1rem;


    border-radius: .5rem;


    font-weight: 400;


    background: #EEF7FE;


    color: #22215B;


    cursor: pointer;


}

main {


    display: flex;


    flex-wrap: wrap;


    gap: 2rem;


    justify-content: space-evenly;


}

.login__title {
  font-size: var(--big-font-size);
  color: #EEEEF0;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 5rem;
}

/* fin de la partie bouton je vais CREER un autre style je pense */


/*=============== NAV ===============*/

.navbar {
  background-color: #19191B;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.logo-container {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.menu-links li {
  margin: 0 15px;
}

.menu-links li a {
  color: #EEEEF0;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s;
}

.menu-links li a:hover {
  color: #467ec9;
}

.navbar .logo span {
  color: var(--first-color-alt);;
}

.menu-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto; 
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: -20;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  position: relative;
  color: #EEEEF0;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s;
}
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #5f73e6;
  transition: width 0.3s ease-in-out;
}
nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #467ec9;
}

/*=============== FOOTER ===============*/

footer {
  background-color: #19191B;
  color: #EEEEF0;
  text-align: center;
  padding: 30px;
}

