
/* parti de creation des offres de stages */
*{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: 'Rubik', sans-serif;
  }
  
  *, *:after, *:before{
    box-sizing: border-box;
  }
  
  
  @media screen and (max-width: 768px) {
      html {
          font-size:15px
      }
  }
  
  @media screen and (max-width: 465px) {
      html {
          font-size:26px
      }
  }
  
 
  .card{
    width: 25rem;
    height: auto;
    background: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
  }
  
  .card-img-holder{
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .card-img-holder img{
    width: 100%;
    height: auto;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 1.5rem;
  }
  
  .blog-title{
    color: #22215B;
    padding: 1rem 0;
    font-size: 1.5rem;
  }
  
  .description{
    padding: 1rem 0;
    color: #22215B80;
    font-size: 1rem;
  }
  
  .blog-time{
    font-size: .8rem;
    color: #22215B;
  }
  
  .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }
  
  .options span{
    font-weight: 600;
    color: #22215B;
  }
  
  .btn{
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 400;
    background: #EEF7FE;
    color: #22215B;
    cursor: pointer;
  }





body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

nav {
    background-color: #1E3A8A;
    padding: 30px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: -20;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 30px;
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s;
}
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #5f73e6;
    transition: width 0.3s ease-in-out;
}
nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #467ec9;
}

.banner {
    background-image: url("../asset/imageFond.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(73, 85, 255);
    text-align: center;
    padding: 240px 40px;
}

.banner h1 {
    font-size: 7em;
    margin: 0;
}

.banner p {
    font-size: 3.6em;
    margin: 20px 0;
}

.buttons {
    margin-top: 40px;
}

button {
    background-color: #FF7043;
    color: white;
    border: none;
    padding: 24px 48px;
    cursor: pointer;
    font-size: 2.4em;
    margin: 20px;
    border-radius: 50px;
    transition: 0.3s;
}

button:hover {
    background-color: #E64A19;
}

footer {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 30px;
}
.titleMain {
    background-color:rgba(255, 255, 255, 0.616); /* Couleur de fond */
    border-radius: 45px; /* Rayon des coins arrondis */
    padding: 20px; /* Espacement interne pour le contenu */
    width: 45%; /* Largeur spécifique */
    text-align: center; /* Centrer le texte */
    margin: 0 auto; /* Centrer l'élément horizontalement */
}
